<!doctype html>
<head>
    <link rel="stylesheet" href="{{url_for('static', filename='css/common.css')}}">
</head>

<title>Cubie - Administration</title>
<table>
    <tr>
        <td>
            <a href="{{ url_for('index') }}">
                <img src="{{url_for('static', filename='logo.png')}}" width="150">
            </a>
        </td>
        <td>
            <h1 style="text-align: center;">System Services</h1>
        </td>
        <td>
            <h1 style="text-align: center;">Action</h1>
        </td>
    </tr>
    <tr>
        <td>
        </td>
        <td>
            Reboot
        </td>
        <td>
            <a href="{{ url_for('system_reboot') }}" title="Reboot"><img src="{{url_for('static', filename='reboot.png')}}" width="150"></a>
        </td>
    </tr>
</table>
