<!doctype html>
<head>
    <link rel="stylesheet" href="{{url_for('static', filename='css/common.css')}}">
</head>

<title>Cubie - Application</title>
<table>
    <tr>
        <td>
            <a href="{{ url_for('index') }}">
                <img src="{{url_for('static', filename='logo.png')}}" width="150">
            </a>
        </td>
        <td>
            {% if application %}
            <h1 style="text-align: center;">{{ application.replace('cubiemedia-', '').upper() }}</h1>
            <h3 style="text-align: center;">({{ device_list|length }} Entries)</h3>
            {% endif %}
        </td>
        <td>
            Optionen
        </td>
    </tr>
    {% for item in device_list %}
    <tr>
        <form action="/show/{{ application }}/{{ item.id }}">
            <td>
                <b>{{ (item.id|string).upper() }}</b>
            </td>
            <td>
                {% for parameter in item %}
                <li>{{ parameter }} = {{ item[parameter] }}</li>
                {% endfor %}
            </td>
            <td>
                {% if application == "gpio" %}
                <a href="/function/{{ application }}/{{ item.id }}">{{ item.function }}</a>
                {% else %}
                <input type="hidden" name="device_list" value="{{ item }}">
                <input type="submit" value="Edit">
                <a href="/delete/{{ application }}/{{ item.id }}">Delete</a>
                {% endif %}

            </td>
        </form>
    </tr>
    {% endfor %}
</table>
{% if application != "cubiemedia-io" %}
<br/>
<a href="/delete/{{ application }}/all" style="color: red;">Delete all entries!</a>
{% endif %}
