<!doctype html>
<head>
    <link rel="stylesheet" href="{{url_for('static', filename='css/common.css')}}">
</head>

<title>Cubie - Application</title>
<table>
    <tr>
        <td>
            <a href="{{ url_for('index') }}">
                <img src="{{url_for('static', filename='logo.png')}}" width="150">
            </a>
        </td>
        <td>
            {% if application %}
            <h1 style="text-align: center;">{{ application.replace('cubiemedia-', '').upper() }}</h1>
            <h3 style="text-align: center;">({{ device_list|length }} Entries)</h3>
            {% endif %}
        </td>
        <td>
            Optionen
        </td>
    </tr>
    {% for item in device_list %}
    <tr>
        <td>
            <h2>{{ (item.id|string).upper() }}</h2>
        </td>
        <td>
            <table>
                {% for parameter in item %}
                <tr>
                    <td>
                        {{ parameter }}
                    </td>
                    <td>
                        {% if parameter == 'password' %}
                        <input name="{{ parameter }}" type="password" value="{{ item[parameter] }}"
                               style="border:none; border-color: transparent;">
                        {% else %}
                        {{ item[parameter] }}
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </table>
        </td>
        <td>
            {% if application == "gpio" %}
            <a href="/show/{{ application }}/{{ item.id }}">Edit</a>
            {% else %}
            <a href="/show/{{ application }}/{{ item.id }}">Edit</a>
            <a href="/delete/{{ application }}/{{ item.id }}">Delete</a>
            {% endif %}

        </td>
    </tr>
    {% endfor %}
</table>
{% if application != "gpio" %}
<br/>
<a href="/delete/{{ application }}/all" style="color: red;">Delete all entries!</a>
{% endif %}
