<!doctype html>
<title>CubieMedia - WebTool</title>
<h1>CubieMedia WebTool</h1>
<hr>

{% if not application_list %}
    <h3 style="color: red;">There are no applications running, please activate application first</h3>
    <hr>
    {% set application_list = service_list %}
{% endif %}
<ul>
    {% for item in application_list %}
    <li><a href="{{ url_for('show_application', application=item) }}">{{ application_list[item] }}</a></li>
    {% endfor %}
</ul>
<hr>
<a href="{{ url_for('show_administration') }}">Cubie-Administration</a>

<br/>
