<!doctype html>
<head>
    <link rel="stylesheet" href="{{url_for('static', filename='css/common.css')}}">
    <meta http-equiv="refresh" content="5; URL=/">
</head>

<title>Cubie - WebTool</title>
<table>
    <tr>
        <td>
            <a href="{{ url_for('index') }}">
                <img src="{{url_for('static', filename='logo.png')}}" width="150">
            </a>
        </td>
        <td>
            <h1 style="text-align: center;">Cubie - WebTool</h1>

            <h3 style="text-align: center;">IP: {{ ip }} </h3>
            <h3 style="text-align: center;">Server: {{ server }} </h3>
            <h3 style="text-align: center;">User: {{ user }} </h3>
            {% if not application_list %}
            <h3 style="color: red; text-align: center;">(There are no applications running, please activate application
                first)</h3>
            {% endif %}
        </td>
        <td>
            <div>
                <form action="/update/core/learn_mode" method="POST">
                    {% if learn_mode == True %}
                    <input type="image" src="{{url_for('static', filename='lock_open.png')}}" title="New Devices will be automatically added (Click to switch)" width="150" >
                    {% else %}
                    <input type="image" src="{{url_for('static', filename='lock_closed.png')}}" title="New Devices are blocked (Click to switch)" width="150" >
                    {% endif %}
                    <input hidden="hidden" name="learn_mode" value={{ True if learn_mode == False else False }}>
                </form>
            </div>
        </td>
    </tr>
    {% for item in service_list %}
    <tr>
        <td style="text-align: center;">
            <img src="{{url_for('static', filename=item.icon)}}" height="75">
        </td>
        <td>
            <h3>{{ item.name }}</h3>
            <h5>{{ item.description }}</h5>
        </td>
        <td style="text-align: center;">
            {% if item.running %}
            <a href="{{ url_for('show_application', application=item.id) }}">
                <img src="{{url_for('static', filename='start.png')}}" width="30" title="Running">
            </a>
            {% else %}
            <img src="{{url_for('static', filename='stop.png')}}" width="30" title="Stopped">
            {% endif %}
        </td>
    </tr>
    {% endfor %}
    <tr>
        <td style="text-align: center;">
            <img src="{{url_for('static', filename='admin.png')}}" width="75">
        </td>
        <td>
            <h3>Cubie-Administration</h3>
            <h5>Section for different functions for the Operating System</h5>
        </td>
        <td style="text-align: center;">
            <a href="{{ url_for('show_administration') }}">
                <img src="{{url_for('static', filename='start.png')}}" width="30">
            </a>
        </td>
    </tr>
</table>
