<!doctype html>
<head>
    <link rel="stylesheet" href="{{url_for('static', filename='css/common.css')}}">
</head>

<title>Cubie - System - Reboot</title>

<script>
    window.setTimeout(function(){
        // Move to a new location or you can do something else
        window.location.href = "/";

    }, 60000);
</script>

<table>
    <tr>
        <td>
            <a href="{{ url_for('index') }}">
                <img src="{{url_for('static', filename='logo.png')}}" width="150">
            </a>
        </td>
        <td>
            <h1 style="text-align: center;">Reboot</h1>
        </td>
    </tr>
    <tr>
        <td>
            <img src="{{url_for('static', filename='reboot.png')}}" width="150">
        </td>
        <td>
            OK - please wait for reboot - this can take up to one minute!
        </td>
    </tr>
</table>
