[Unit]
Description=CubieMedia MQTT-Client Updater from Git
After=network.target

[Service]
User=pi
Type=simple
WorkingDirectory=/home/pi/mqtt-client
ExecStart=/home/pi/mqtt-client/usr/bin/cubiemedia-git-updater

[Install]
WantedBy=multi-user.target
