[Unit]
Description=CubieMedia MiFLora MQTT-Client
After=network.target

[Service]
Type=simple
WorkingDirectory=/home/pi/mqtt-client
ExecStart=/home/pi/mqtt-client/src/mqtt_client.py miflora
KillMode=process
KillSignal=SIGTERM
Restart=always

[Install]
WantedBy=multi-user.target
