[Unit]
Description=CubieMedia Web-Tool
After=network.target

[Service]
Type=simple
WorkingDirectory=/home/pi/mqtt-client/src/webtool
ExecStart=/home/pi/.local/bin/flask run --host=0.0.0.0 --port=8888
Environment=PYTHONPATH=/home/pi/.local/lib/python3.11/site-packages/
KillMode=process
KillSignal=SIGTERM
Restart=always

[Install]
WantedBy=multi-user.target
